@-webkit-keyframes background-grey-shades {
  0% {
    background-color: rgba(40, 40, 40, 0.5);
  }
  50% {
    background-color: rgba(80, 80, 80, 0.5);
  }
  100% {
    background-color: rgba(40, 40, 40, 0.5);
  }
}

@keyframes background-grey-shades {
  0% {
    background-color: rgba(40, 40, 40, 0.5);
  }
  50% {
    background-color: rgba(80, 80, 80, 0.5);
  }
  100% {
    background-color: rgba(40, 40, 40, 0.5);
  }
}

#presentation {
  overflow-x: hidden !important;
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: relative;
}

#presentation > section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc(100vh);
  padding-top: 6rem;
  overflow-x: hidden !important;
}

#presentation a.go-to-next {
  opacity: 0;
  position: fixed;
  bottom: 5vh;
  left: 0;
  right: 0;
  margin: auto;
  height: 4rem;
  width: 4rem;
  font-size: 1.75rem;
  text-align: center;
  border-radius: 100%;
  background-color: rgba(40, 40, 40, 0.5);
  line-height: 3.9rem;
  color: #fff;
  -webkit-transition: background-color 0.3s ease-out, opacity 2s ease-out 3s;
  transition: background-color 0.3s ease-out, opacity 2s ease-out 3s;
  -webkit-animation: background-grey-shades 2s linear infinite;
          animation: background-grey-shades 2s linear infinite;
}

#presentation a.go-to-next:hover {
  background-color: #003399;
  -webkit-animation: none;
          animation: none;
}

#presentation h1, #presentation h2, #presentation h3, #presentation h4, #presentation h5, #presentation h6, #presentation a, #presentation p {
  -webkit-transition: color 0.3s cubic-bezier(0, 0, 0.58, 1), padding 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: color 0.3s cubic-bezier(0, 0, 0.58, 1), padding 0.3s cubic-bezier(0, 0, 0.58, 1);
}

#presentation h2 {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: Grotesk, sans-serif;
}

#presentation h3 {
  font-size: 1.5rem;
  font-family: Grotesk, sans-serif;
  letter-spacing: 0.1em;
  color: #aaaaaa;
}

#presentation h4 {
  font-size: 1.3rem;
  margin-bottom: .5rem;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  color: #333333;
  font-weight: bold;
}

#presentation h5 {
  font-size: 1.6rem;
}

#presentation h6 {
  font-size: 1.5rem;
}

#presentation p {
  font-family: Lato, sans-serif;
  line-height: 1.6;
  margin: 0;
  color: #999999;
  text-align: justify;
}

#presentation .sec-img {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#presentation .sec-img img {
  height: 200px;
  max-width: 100%;
}

#presentation .sec-img.scale img {
  height: auto;
  max-height: 35vh;
  margin-top: -8vh;
}

#presentation .sec-img.map {
  margin-top: 0;
  margin-bottom: 0;
}

#presentation .sec-img.map img {
  height: auto;
  max-height: calc(50vh - 50px);
}

#presentation .sec-img.technology img {
  height: auto;
  max-height: 52vh;
  max-height: 27rem;
}

#presentation .sec-img.secretProcessing img {
  height: auto;
  max-height: 40vh;
  margin-top: -12vh;
}

#presentation .sec-img.secretMixing img {
  height: auto;
  max-height: 35vh;
  margin-top: -30px;
}

@media screen and (max-width: 768px) {
  #presentation .sec-img {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
  }
  #presentation .sec-img img {
    margin: 0 !important;
    height: auto !important;
    max-height: none !important;
    max-width: 50%;
  }
  #presentation .sec-img.shield img {
    width: 20%;
  }
  #presentation .sec-img.scale img, #presentation .sec-img.map img {
    max-width: 100%;
  }
  #presentation .sec-img.secretProcessing img {
    width: 32%;
  }
}

#presentation img.team-member {
  width: 10rem;
  height: 10rem;
  display: inline-block;
  background-color: #cccccc;
  margin-bottom: .6rem;
}

#presentation h4.team-member-name {
  margin: 0;
}

#presentation span.team-member-position {
  color: #eb2540;
}
