@keyframes background-grey-shades {
    0% {
        background-color: rgba(40, 40, 40, 0.5);
    }
    50% {
        background-color: rgba(80, 80, 80, 0.5);
    }
    100% {
        background-color: rgba(40, 40, 40, 0.5);
    }
}

#presentation {

    overflow-x: hidden !important;
    display: block;
    flex: 1 0 auto;
    position: relative;
    // overflow: auto;

    &>section {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 6rem;
        overflow-x: hidden !important;
        min-height: 100vh;

        @media screen and (max-width: 768px) {
            &:not(#welcome) {
                min-height: auto;
                padding-bottom: 3rem;
            }
        }
    }

    a.go-to-next {
        opacity: 0;
        position: fixed;
        bottom: 5vh;
        left: 0;
        right: 0;
        margin: auto;
        height: 4rem;
        width: 4rem;
        font-size: 1.75rem;
        text-align: center;
        border-radius: 100%;
        background-color: rgba(40, 40, 40, 0.5);
        line-height: 4.25rem;
        color: #fff;
        transition: background-color 0.3s ease-out, opacity 2s ease-out;
        animation: background-grey-shades 2s linear infinite;

        &:hover {
            background-color: $sec-color;
            animation: none;
        }
    }

    h1, h2, h3, h4, h5, h6, a, p {
        -webkit-transition: color 0.3s cubic-bezier(0, 0, 0.58, 1), padding 0.3s cubic-bezier(0, 0, 0.58, 1);
        transition: color 0.3s cubic-bezier(0, 0, 0.58, 1), padding 0.3s cubic-bezier(0, 0, 0.58, 1);
    }
    h2 {
        font-size: 2rem;
        font-family: Grotesk, sans-serif;
    }
    h3 {
        font-size: 1.2rem;
        font-family: Grotesk, sans-serif;
        letter-spacing: 0.1em;
        color: #e05656;
    }
    #whom-for h3 {
        color: #777;
    }
    h4 {
        font-size: 1.1rem;
        margin-bottom: .5rem;
        text-transform: uppercase;
        color: #333333;
    }
    h5 {
        font-size: 1.0rem;
    }
    h6 {
        font-size: 0.9rem;
    }
    p {
        font-size: 0.9rem;
        line-height: 1.2rem;
        margin: 0;
        color: #999999;
        text-align: justify;
    }

    .sec-img {
        width: 100%;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;

        img {
            height: 200px;
            max-width: 100%;
        }

        &.scale img {
            height: auto;
            max-height: 35vh;
            margin-top: -8vh;
        }
        &.map {
            margin-top: 0;
            margin-bottom: 0;

            img {
                height: auto;
                max-height: calc(50vh - 50px);
            }
        }
        &.technology img {
            height: auto;
            max-height: 52vh;
            max-height: 23rem;
        }

        @media screen and (max-width: 768px) {
            margin-top: 25px!important;
            margin-bottom: 25px!important;

            img {
                margin: 0!important;
                height: auto!important;
                max-height: none!important;
                max-width: 50%;
            }

            &.shield img {
                width: 20%;
            }
            &.scale img, &.map img {
                max-width: 100%;
            }
            &.secretProcessing img {
                width: 32%;
            }
        }
    }

    .events {
        font-family: Grotesk, sans-serif;
        width: 100%;
        position: absolute;
        bottom: 3rem;
        left: 3rem;
        opacity: 0;
        transition: opacity 2s ease-out;

        .events-box {
            background-color: #fff;
            display: inline-block;
            border: .2rem solid #e3e3e3;
            border-radius: .35rem;
            a {
                display: inline-block;
                min-width: 9rem;
            }
        }

        @media screen and (max-width: 768px) {
            left: 0;
            right: 0;
            bottom: 6rem;
            .events-box {
                display: block;
                margin: 0 auto;
                border-width: .2rem 0;
                border-radius: 0;
            }
        }
    }

    .team-member {
        h5 { margin: 0; }
        p { color: #777; }
        >img {
            width: 4rem;
            height: 4rem;
            display: inline-block;
            background-color: #cccccc;
            margin-bottom: .6rem;
            border-radius: 100%;
        }
    }

    .comp-logo {
        height: 3rem;

        img {
            max-height: 3rem;
            max-width: 100%;
        }
    }

    div.contact {
        p { color: #444; }
        a {
            img { height: 1rem; }
            i {
                font-size: 1rem;
                line-height: 1rem;
                vertical-align: -.1rem;
            }
            span { padding-left: .5rem; }
        }
    }
}