#sec-alert-wrap {
  position: fixed;
  top: 0.75rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1031;
}

#sec-alert-wrap .alert {
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  min-width: 20vw;
  max-width: 60vw;
  margin: 1rem auto 0 auto;
  z-index: 9999;
}

#sec-alert-wrap .alert.show {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#sec-alert-wrap .alert.fade {
  -webkit-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
