#key-picker {
    .hide-desc p { display: none; }

    .sec-key {
        .col button { width: 100%; }
        .col-auto button, .col-auto a { min-width: auto; }
        &+.sec-key { margin-top: .5rem; }
    }
}