header > nav {
  width: 100%;
  background-color: #f5f5f5;
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: background-color 0.3s cubic-bezier(0, 0, 0.58, 1);
}

header > nav > div:not(.container) {
  width: 100%;
}

header > nav.logo-page {
  background-color: transparent;
}

header > nav.logo-page a.logo, header > nav.logo-page #presentation-menu {
  opacity: 0;
}

header > nav.logo-page ul#sec-menu {
  text-align: right;
}

header > nav.logo-page ul#sec-menu li.show > div {
  display: inline-block;
}

header > nav a.logo {
  line-height: 3rem;
  height: 3rem;
  width: 15rem;
  background-image: url("../images/secretarium_title.svg");
  background-repeat: no-repeat;
  background-size: auto 2.5rem;
  background-position-x: .5rem;
  background-position-y: .25rem;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}

@media screen and (max-width: 1080px) {
  header > nav a.logo {
    width: 4.2rem;
  }
}

header > nav a {
  color: #444;
}

header > nav a:active, header > nav a:focus, header > nav a:hover {
  text-decoration: none !important;
  outline: none !important;
  color: inherit;
}

header > nav #menu a.nav-link:not(.logo) {
  font-family: Grotesk, sans-serif;
  font-size: 1.1rem;
  position: relative;
  display: inline-block;
  padding: .25rem .5rem;
  text-align: center;
  letter-spacing: 1px;
  text-transform: lowercase;
  color: #000000;
  white-space: nowrap;
}

header > nav #menu a.nav-link:not(.logo):not(.btn):after {
  opacity: 0;
  position: absolute;
  right: 0;
  bottom: -.25rem;
  left: 0.5rem;
  height: 2px;
  content: '';
  width: calc(100% - 1rem);
  -webkit-transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  background-color: currentColor;
}

header > nav #menu a.nav-link:not(.logo)[data-menuanchor="technology"]:after {
  width: calc(100% - 2.6rem);
}

header > nav #menu a.nav-link:not(.logo).shift-left:after {
  width: calc(100% - 1.5rem);
  left: 1rem;
}

header > nav #menu a.nav-link:not(.logo).active:after, header > nav #menu a.nav-link:not(.logo):hover:after, header > nav #menu a.nav-link:not(.logo).router-link-active:after {
  -webkit-transform: translateY(-0.6rem);
          transform: translateY(-0.6rem);
  opacity: 0.1;
}

header > nav #presentation-sub-menu {
  background-color: #eee;
  height: 0;
  -webkit-transition: height .3s ease-in-out;
  transition: height .3s ease-in-out;
  overflow: hidden;
}

@media (max-height: 500px) {
  header > nav #presentation-sub-menu {
    display: none !important;
  }
}

header > nav #presentation-sub-menu a.nav-link {
  padding: 0;
}

header > nav #presentation-sub-menu.active {
  height: 2.2rem;
}

header > nav #presentation-sub-menu li a.active {
  font-weight: bold;
}

header > nav #presentation-sub-menu li:hover a {
  color: #eb2540;
}

body:not(.page-presentation) header > nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

body:not(.page-presentation) header > nav #presentation-menu, body:not(.page-presentation) header > nav #presentation-sub-menu {
  display: none !important;
}
