#presentation {

    font-size: 1.5vh;
    overflow-x: hidden !important;

    h1, h2, h3, h4, h5, h6, a, p {
        -webkit-transition: color 0.3s cubic-bezier(0, 0, 0.58, 1), padding 0.3s cubic-bezier(0, 0, 0.58, 1);
        transition: color 0.3s cubic-bezier(0, 0, 0.58, 1), padding 0.3s cubic-bezier(0, 0, 0.58, 1);
    }

    h1 {
        font-size: 10rem;
        font-weight: 700;
        line-height: 1.1;
        text-transform: uppercase;
    }
    h2 {
        font-size: 2.5rem;
        font-weight: bold;
        font-family: Grotesk, sans-serif;
    }
    h3 {
        font-size: 1.5rem;
        font-family: Grotesk, sans-serif;
        letter-spacing: 0.1em;
        color: #aaaaaa;
    }
    h4 {
        font-size: 1.3rem;
        margin-bottom: .5rem;
        text-transform: uppercase;
        font-family: Lato, sans-serif;
        color: #333333;
        font-weight: bold;
    }
    h5 {
        font-size: 1.6rem;
    }
    h6 {
        font-size: 1.5rem;
    }
    p {
        font-family: Lato, sans-serif;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.6;
        margin: 0;
        color: #999999;
        text-align: justify;
    }

    .fp-section {
        background-color: #FFFFFF;
    }

    .container-fluid .col-left {
        padding-left: 0;
    }
    .container-fluid .col-right {
        padding-right: 0;
    }

    .sec-img {
        width: 100%;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;

        img {
            height: 200px;
        }

        &.scale img {
            height: calc(50vh - 200px);
            margin-top: -8vh;
        }
        &.map {
            margin-top: 0;
            margin-bottom: 0;

            img {
                height: calc(50vh - 50px);
            }
        }
        &.technology img {
            height: 52vh;
        }
        &.secretProcessing img {
            height: 40vh;
            margin-top: -12vh;
        }
        &.secretMixing img {
            height: 35vh;
            margin-top: -30px;
        }

        @media screen and (max-width: 1080px), screen and (max-height: 720px) {
            margin-top: 25px!important;
            margin-bottom: 25px!important;

            img {
                height: auto!important;
                margin: 0!important;
            }

            &.shield img {
                width: 50%;
            }
            &.restore img {
                width: 75%;
            }
            &.secretProcessing img {
                width: 65%;
            }
        }
    }

    .fp-tableCell {
        padding-top: 5rem;
    }
    img.team-member {
        width: 10rem;
        height: 10rem;
        display: inline-block;
        background-color: #cccccc;
        margin-bottom: 2rem;
    }
    h4.team-member-name {
        margin: 0;
    }
    span.team-member-position {
        color: #eb2540
    }
}