$sec-color: #e64a3c;
$sec-color-85: rgba(230,74,60,.85);
$sec-color-50: rgba(230,74,60,.5);

@import "secretarium.fonts";
//@import "secretarium.navbar"; // to do re-activate
//@import "secretarium.presentation";
@mixin fadeInOut($time:250ms, $delay:0ms) {
    transition: opacity $time ease-in-out $delay;
}

[v-cloak] { display: none; }

html {
    scroll-behavior: smooth;
    font-size: initial;
    @media screen and (max-height: 720px) {
        font-size: 12px;
    }
}

div#app {
    font-family: Lato, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    opacity: 0; // invisible until loaded
}

content {
    display: block;
    flex: 1 0 auto;
    overflow: auto;

    &>.center {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 80vh; // approximative
    }

    &>.fixed-center {
        min-width: 40vw;
        margin: 0 auto;

        @media only screen and (min-width : 768px) {
            max-width: 720px;
            margin-top: 10vh;
        }
    }


.container.center .sec-card {
    min-width: 40vw;

    @media only screen and (min-width : 768px) {
        &.mw-md { max-width: 720px; }
    }
}
}

.sec-color {
    color: $sec-color;
}

a {
    color: #444;
}
a:active, a:focus, a:hover {
    text-decoration: none !important;
    outline: none !important;
    color: inherit;
}

hr.sec {
    border-top-color: rgba(230,74,60,.7);
}

.fs-85 {
    font-size: 85%;
}

// Forms
.form-check.lg {
    input[type="checkbox"] {
        width: 1.15rem;
        height: 1.15rem;
    }
    label {
        padding-left: .5rem;
        min-width: 10rem;
        justify-content: left;
    }
}
.btn-sec {
    color:#fff;
    background-color:$sec-color;
    border-color:$sec-color;

    &:hover,&:not(:disabled):not(.disabled).active,&:not(:disabled):not(.disabled):active {
        color:#fff;
        background-color: #cd291a; // #c02618
        border-color: #c02618; // #b32317
    }
    &.focus,&:focus,&:not(:disabled):not(.disabled).active:focus,&:not(:disabled):not(.disabled):active:focus {
        box-shadow:0 0 0 .2rem rgba(230, 74, 60, .5)
    }
    &.disabled,&:disabled {
        color:#fff;
        background-color:$sec-color;
        border-color:$sec-color;
    }
}
.show>.btn-sec.dropdown-toggle {
    color:#fff;
    background-color: #cd291a;
    border-color: #c02618;
}
.show>.btn-sec.dropdown-toggle:focus {
    box-shadow:0 0 0 .2rem rgba(230, 74, 60, .5)
}
.custom-file-label.sec {
    border: 1px solid $sec-color-50;

    &::after {
        color:#fff;
        background-color:$sec-color;
    }
}
.custom-file-input:focus~.custom-file-label.sec {
    border-color:$sec-color;
    box-shadow:0 0 0 .2rem rgba(230, 74, 60, .5)
}

// Cards
.sec-card {
    .card-header {
        background-color: transparent;
        border-bottom: 0.1rem solid $sec-color-85;
    }
    .card-title {
        font-weight: bold;

        span.sec-underline {
            border: solid 0.1rem $sec-color;
        }

        &.card-title.collapsed,
        &.card-title[aria-expanded="false"] {
            margin-bottom: 0!important;
        }
    }
    .card-body {
        label {
            margin-bottom: 0.15rem;
        }
    }

    input[type="text"].lg {
        min-width: 25rem;
    }
    // input[type="text"]~.placeholder { // to do same as https://accounts.google.com/signin/v2/identifier?
    //     transform: scale(.75) translateY(-39px);
    // }
    // input[type="text"]:focus~.placeholder {
    //     transform: scale(.75) translateY(-39px);
    // }

    button, a.btn {
        min-width: 8rem;
    }

    h3 i.sec-logo {
        display: inline-block;
        height: 2rem;
        width: 3rem;
        background-image: url('../images/secretarium_title.svg');
        background-repeat: no-repeat;
        background-size: auto 2rem;
        vertical-align: -0.4rem;
    }
    h1 i.sec-logo {
        display: inline-block;
        height: 2.5rem;
        width: 3.5rem;
        background-image: url('../images/secretarium_title.svg');
        background-repeat: no-repeat;
        background-size: auto 2.5rem;
        vertical-align: -0.3rem;
    }

    h5 i.fas {
        font-size: 1rem;
        padding-top: .2rem;
    }
}

// Stage
#stage-full-logo, #stage-logo {
    opacity: 0;
    display: none;
}
#stage {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    img {
        position: absolute;
        opacity: 0;
        height: 8vh;
        @include fadeInOut(1000ms);

        &.active { opacity: 1; }
        &.full-logo { @include fadeInOut(2000ms); }
        &.stage-logo {
            @include fadeInOut(800ms);
            &.active { @include fadeInOut(3000ms, 700ms); }
            &.stage-0  { @include fadeInOut(500ms); &.active { @include fadeInOut(1500ms, 700ms); } }
            &.stage-1  { @include fadeInOut(520ms); &.active { @include fadeInOut(1600ms, 700ms); } }
            &.stage-2  { @include fadeInOut(540ms); &.active { @include fadeInOut(1700ms, 700ms); } }
            &.stage-3  { @include fadeInOut(560ms); &.active { @include fadeInOut(1800ms, 700ms); } }
            &.stage-4  { @include fadeInOut(580ms); &.active { @include fadeInOut(1900ms, 700ms); } }
            &.stage-5  { @include fadeInOut(600ms); &.active { @include fadeInOut(2000ms, 700ms); } }
            &.stage-6  { @include fadeInOut(620ms); &.active { @include fadeInOut(2100ms, 700ms); } }
            &.stage-7  { @include fadeInOut(640ms); &.active { @include fadeInOut(2200ms, 700ms); } }
            &.stage-8  { @include fadeInOut(660ms); &.active { @include fadeInOut(2300ms, 700ms); } }
            &.stage-9  { @include fadeInOut(680ms); &.active { @include fadeInOut(2400ms, 700ms); } }
            &.stage-10 { @include fadeInOut(700ms); &.active { @include fadeInOut(2500ms, 700ms); } }
            &.stage-11 { @include fadeInOut(720ms); &.active { @include fadeInOut(2600ms, 700ms); } }
            &.stage-12 { @include fadeInOut(740ms); &.active { @include fadeInOut(2700ms, 700ms); } }
            &.stage-13 { @include fadeInOut(760ms); &.active { @include fadeInOut(2800ms, 700ms); } }
            &.stage-14 { @include fadeInOut(780ms); &.active { @include fadeInOut(2900ms, 700ms); } }
            &.stage-15 { @include fadeInOut(800ms); &.active { @include fadeInOut(3000ms, 700ms); } }
        }
    }
}
body:not(.page-presentation) > #stage {
    display: none;
}

// Drop area
#drop-area {
    position: fixed;
    z-index: 10;
    top: 0; left: 0; right: 0; bottom: 0;
    border: 5px dashed rgba(0,0,0,.3);
	margin: 2px 2px 1px 2px;
	display: none;
}
body.dragging #drop-area {
	border-color: #dc3545;
	display: block;
}
body.dragging.active #drop-area {
	border-color: #00aaf0;
	display: block;
}

// Page transition
.page-enter-active, .page-leave-active {
	transition: opacity .2s, transform .2s;
}
.page-enter, .page-leave-to {
	opacity: 0;
	transform: translateX(-30%);
}

.btn-icon-enter-active, .btn-icon-leave-active {
	transition: opacity .8s;
}
.btn-icon-enter, .btn-icon-leave-to {
	opacity: 0;
}

footer.bg-light {
	margin: auto auto 0 auto;
	width: 100%;
	line-height: 30px;
	border-top: 1px solid #ddd;

    footer span {
        display: inline-block;
    }

    footer span::first-letter {
        text-transform: uppercase;
    }
}

footer {
    background-color: #333; // #003399;

    h5 {
        font-size: 1.1rem;
        color: #ffffff;
    }
    li a {
        font-size: 1rem;
        color: #ffffff;
    }
    li a:hover {
        font-size: 1rem;
        color: #919cb1;
    }
    p, footer p a {
        font-size: 0.8rem;
        color: #718cbd;
    }
    p a:hover {
        color: #ffffff;
    }
}