#presentation {

    overflow-x: hidden !important;

    h1, h2, h3, h4, h5, h6, a, p {
        -webkit-transition: color 0.3s cubic-bezier(0, 0, 0.58, 1), padding 0.3s cubic-bezier(0, 0, 0.58, 1);
        transition: color 0.3s cubic-bezier(0, 0, 0.58, 1), padding 0.3s cubic-bezier(0, 0, 0.58, 1);
    }
    h2 {
        font-size: 2rem;
        font-family: Grotesk, sans-serif;
    }
    h3 {
        font-size: 1.2rem;
        font-family: Grotesk, sans-serif;
        letter-spacing: 0.1em;
        color: #e05656;
    }
    h4 {
        font-size: 1.1rem;
        margin-bottom: .5rem;
        text-transform: uppercase;
        font-family: Lato, sans-serif;
        color: #333333;
    }
    h5 {
        font-size: 1.0rem;
    }
    h6 {
        font-size: 0.9rem;
    }
    p {
        font-size: 0.9rem;
        font-family: Lato, sans-serif;
        line-height: 1.2rem;
        margin: 0;
        color: #999999;
        text-align: justify;
    }
    footer a {
        font-size: 0.8rem;
    }

    .fp-section {
        background-color: #FFFFFF;
    }
    .fp-tableCell {
        padding-top: 8rem;
    }

    .sec-img {
        width: 100%;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;

        img {
            height: 200px;
            max-width: 100%;
        }

        &.scale img {
            height: 35vh;
            margin-top: -8vh;
        }
        &.map {
            margin-top: 0;
            margin-bottom: 0;

            img {
                height: calc(50vh - 50px);
            }
        }
        &.technology img {
            height: 52vh;
            max-height: 27rem;
        }
        &.secretProcessing img {
            height: 40vh;
            margin-top: -12vh;
        }
        &.secretMixing img {
            height: 35vh;
            margin-top: -30px;
            margin-left: 7vw;
        }

        @media screen and (max-width: 992px) {
            
            &.secretProcessing img {
                margin-left: 10vw;
            }
            &.secretMixing img {
                margin-left: 7vw;
            }
        }

        @media screen and (max-width: 768px) {
            margin-top: 25px!important;
            margin-bottom: 25px!important;

            img {
                margin: 0!important;
                height: auto!important;
                max-height: none!important;
                max-width: 50%;
            }

            &.shield img {
                width: 20%;
            }
            &.scale img, &.map img {
                max-width: 100%;
            }
            &.secretProcessing img {
                width: 32%;
            }
        }
    }

    .about-item {
        display: inline-block;
        padding-bottom: 2rem;

        .comp-logo {
            height: 5rem;
        }
    }

    img.team-member {
        width: 4rem;
        height: 4rem;
        display: inline-block;
        background-color: #cccccc;
        margin-bottom: .6rem;
    }
    h4.team-member-name {
        margin: 0;
    }
    span.team-member-position {
        font-size: 0.8rem;
        max-width: 70%;
        display: block;
    }
}