#key-picker {
    .hide-desc p { display: none; }

    .sec-key {
        .col button { width: 100%; }
        .col-auto button, .col-auto a { min-width: auto; }
        &+.sec-key { margin-top: .5rem; }
    }
}

.dcapp-pres {
    padding: .5rem 0.75rem;
    border-left: .1rem solid $sec-color-85;
    background-color: $sec-color-05;

    p {
        color: #777;
        font-size: 90%;
    }

    &:hover,&:not(:disabled):not(.disabled).active,&:not(:disabled):not(.disabled):active {
        cursor: pointer;
        background-color: $sec-color-20;
        border-color: $sec-color;
    }

    &+.dcapp-pres { margin-top: 1.5rem; }
}