#sec-alert-wrap {
    position: fixed;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1031;

    .alert {
        transition: transform .3s ease-out;
        min-width: 30vw;
        max-width: 60vw;
        margin: .5rem auto 0 auto;
        padding: .25rem .75rem;
        z-index: 9999;

        &.show { transform: translate(0,0); }
        &.fade { transform: translate(0,-25%); }
        &.alert-dismissible {
            padding-right: 3rem;

            .close {
                padding: .25rem .75rem;
            }
        }
    }
}