
header {

	// position: absolute;
	// top: 0;

	&>nav {
		width: 100%;
		background-color: #f5f5f5;
		transition: background-color 0.3s cubic-bezier(0, 0, 0.58, 1);

		&>div:not(.container) {
			width: 100%;
		}

		// links style
		#menu {
			a {
				font-family: Grotesk, sans-serif;
				font-size: 1.1rem;
				position: relative;
				display: inline-block;
				padding: 0 .5rem;
				text-align: center;
				letter-spacing: 1px;
				text-transform: lowercase;
				color: #000000;
				white-space: nowrap;

				&:after {
					opacity: 0;
					position: absolute;
					right: 0;
					bottom: -.5rem;
					left: 0.5rem;
					height: 2px;
					content: '';
					width: calc(100% - 1rem);
					transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
					transform: translateY(0rem);
					background-color: currentColor;
				}
				&[data-menuanchor="technology"]:after { width: calc(100% - 2.6rem); }
				&.shift-left:after {
					width: calc(100% - 1.5rem);
					left: 1rem;
				}
				&.active:after {
					transform: translateY(-.6rem);
					opacity: 0.1;
				}
			}
			
			li:hover a:after {
				transform: translateY(-.6rem);
				opacity: 0.1;
			}
			
			// Logo
			a.logo {
				line-height: 3rem;
				height: 3rem;
				width: 15rem;
				background-image: url('../images/secretarium_title.png');
				background-repeat: no-repeat;
				background-size: auto 3rem;
				transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);

				@media screen and (max-width: 1080px) {
					width: 4rem;
				}
			}
			a.logo.hide {
				width: 0;
				padding: 0;
				margin: 0;
			}
			
		}

		// sub menu
		#presentation-sub-menu {
			background-color: #eee;
			height: 2.2rem;
			transition: height .3s ease-in-out;
			overflow: hidden;

			li {
				a.active { font-weight: bold }
				&:hover a { color: #eb2540; }
			}
		}
	}
}

// Effects
body.fp-viewing-what-it-does #presentation-menu a[data-menuanchor="what-it-is"]:after,
body.fp-viewing-scaling #presentation-menu a[data-menuanchor="what-it-is"]:after,
body.fp-viewing-whom-for #presentation-menu a[data-menuanchor="why"]:after,
body.fp-viewing-secret-processing #presentation-menu a[data-menuanchor="technology"]:after,
body.fp-viewing-secret-mixing #presentation-menu a[data-menuanchor="technology"]:after {
	transform: translateY(-.6rem);
    opacity: 0.1;
}

// Sub menu display
body:not(.fp-viewing-what-it-is):not(.fp-viewing-what-it-does):not(.fp-viewing-scaling):not(.fp-viewing-why):not(.fp-viewing-whom-for):not(.fp-viewing-technology):not(.fp-viewing-secret-processing):not(.fp-viewing-secret-mixing) #presentation-sub-menu {
	height: 0;
}
body:not(.fp-viewing-what-it-is):not(.fp-viewing-what-it-does):not(.fp-viewing-scaling) #presentation-sub-menu #sub-concept,
body:not(.fp-viewing-why):not(.fp-viewing-whom-for) #presentation-sub-menu #sub-rationale,
body:not(.fp-viewing-technology):not(.fp-viewing-secret-processing):not(.fp-viewing-secret-mixing) #presentation-sub-menu #sub-techno {
	display: none!important;
}