@import "secretarium.fonts";
//@import "secretarium.navbar"; // to do re-activate
//@import "secretarium.presentation";
@import "secretarium.footer";
@mixin fadeInOut($time:250ms, $delay:0ms) {
    transition: opacity $time ease-in-out $delay;
}

[v-cloak] { display: none; }

html {
    @media screen and (max-height: 720px) {
        font-size: 12px;
    }
}

body {
    font-family: Lato, sans-serif;
}

footer.app-footer {
    position: fixed;
    bottom: 0;
    left: 0;
	// margin: auto auto 0 auto;
    width: 100vw;
    height: 2rem;
    line-height: 2rem;
    font-size: 0.7rem;
    background-color: #f5f5f5;


    footer span {
        display: inline-block;
    }

    footer span::first-letter {
        text-transform: uppercase;
    }
}

a {
    color: #444;
}
a:active, a:focus, a:hover {
    text-decoration: none !important;
    outline: none !important;
    color: inherit;
}

#app {
    opacity: 0; // invisible until loaded
}

// Stage
#stage-full-logo, #stage-logo {
    opacity: 0;
    display: none;
}
#stage {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    img {
        position: absolute;
        opacity: 0;
        height: 8vh;
        @include fadeInOut(1000ms);

        &.active { opacity: 1; }
        &.full-logo { @include fadeInOut(2000ms); }
        &.stage-logo {
            @include fadeInOut(800ms);
            &.active { @include fadeInOut(3000ms, 700ms); }
            &.stage-0  { @include fadeInOut(500ms); &.active { @include fadeInOut(1500ms, 700ms); } }
            &.stage-1  { @include fadeInOut(520ms); &.active { @include fadeInOut(1600ms, 700ms); } }
            &.stage-2  { @include fadeInOut(540ms); &.active { @include fadeInOut(1700ms, 700ms); } }
            &.stage-3  { @include fadeInOut(560ms); &.active { @include fadeInOut(1800ms, 700ms); } }
            &.stage-4  { @include fadeInOut(580ms); &.active { @include fadeInOut(1900ms, 700ms); } }
            &.stage-5  { @include fadeInOut(600ms); &.active { @include fadeInOut(2000ms, 700ms); } }
            &.stage-6  { @include fadeInOut(620ms); &.active { @include fadeInOut(2100ms, 700ms); } }
            &.stage-7  { @include fadeInOut(640ms); &.active { @include fadeInOut(2200ms, 700ms); } }
            &.stage-8  { @include fadeInOut(660ms); &.active { @include fadeInOut(2300ms, 700ms); } }
            &.stage-9  { @include fadeInOut(680ms); &.active { @include fadeInOut(2400ms, 700ms); } }
            &.stage-10 { @include fadeInOut(700ms); &.active { @include fadeInOut(2500ms, 700ms); } }
            &.stage-11 { @include fadeInOut(720ms); &.active { @include fadeInOut(2600ms, 700ms); } }
            &.stage-12 { @include fadeInOut(740ms); &.active { @include fadeInOut(2700ms, 700ms); } }
            &.stage-13 { @include fadeInOut(760ms); &.active { @include fadeInOut(2800ms, 700ms); } }
            &.stage-14 { @include fadeInOut(780ms); &.active { @include fadeInOut(2900ms, 700ms); } }
            &.stage-15 { @include fadeInOut(800ms); &.active { @include fadeInOut(3000ms, 700ms); } }
        }
    }
}
body:not(.page-presentation) > #stage {
    display: none;
}

.page-enter-active, .page-leave-active {
	transition: opacity .2s, transform .2s;
}
.page-enter, .page-leave-to {
	opacity: 0;
	transform: translateX(-30%);
}

.btn-icon-enter-active, .btn-icon-leave-active {
	transition: opacity .8s;
}
.btn-icon-enter, .btn-icon-leave-to {
	opacity: 0;
}