#presentation {
  overflow-x: hidden !important;
}

#presentation h1, #presentation h2, #presentation h3, #presentation h4, #presentation h5, #presentation h6, #presentation a, #presentation p {
  -webkit-transition: color 0.3s cubic-bezier(0, 0, 0.58, 1), padding 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: color 0.3s cubic-bezier(0, 0, 0.58, 1), padding 0.3s cubic-bezier(0, 0, 0.58, 1);
}

#presentation h1 {
  font-size: 10rem;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
}

#presentation h2 {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: Grotesk, sans-serif;
}

#presentation h3 {
  font-size: 1.5rem;
  font-family: Grotesk, sans-serif;
  letter-spacing: 0.1em;
  color: #aaaaaa;
}

#presentation h4 {
  font-size: 1.3rem;
  margin-bottom: .5rem;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  color: #333333;
  font-weight: bold;
}

#presentation h5 {
  font-size: 1.6rem;
}

#presentation h6 {
  font-size: 1.5rem;
}

#presentation p {
  font-family: Lato, sans-serif;
  line-height: 1.6;
  margin: 0;
  color: #999999;
  text-align: justify;
}

#presentation .fp-section {
  background-color: #FFFFFF;
}

#presentation .container-fluid .col-left {
  padding-left: 0;
}

#presentation .container-fluid .col-right {
  padding-right: 0;
}

#presentation .sec-img {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#presentation .sec-img img {
  height: 200px;
}

#presentation .sec-img.scale img {
  height: calc(50vh - 200px);
  margin-top: -8vh;
}

#presentation .sec-img.map {
  margin-top: 0;
  margin-bottom: 0;
}

#presentation .sec-img.map img {
  height: calc(50vh - 50px);
}

#presentation .sec-img.technology img {
  height: 52vh;
}

#presentation .sec-img.secretProcessing img {
  height: 40vh;
  margin-top: -12vh;
}

#presentation .sec-img.secretMixing img {
  height: 35vh;
  margin-top: -30px;
}

@media screen and (max-width: 768px) {
  #presentation .sec-img {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
  }
  #presentation .sec-img img {
    height: auto !important;
    margin: 0 !important;
  }
  #presentation .sec-img.shield img {
    width: 50%;
  }
  #presentation .sec-img.restore img {
    width: 75%;
  }
  #presentation .sec-img.secretProcessing img {
    width: 65%;
  }
}

#presentation .fp-tableCell {
  padding-top: 5rem;
}

#presentation img.team-member {
  width: 10rem;
  height: 10rem;
  display: inline-block;
  background-color: #cccccc;
  margin-bottom: 2rem;
}

#presentation h4.team-member-name {
  margin: 0;
}

#presentation span.team-member-position {
  color: #eb2540;
}
