header > nav {
  width: 100%;
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: background-color 0.3s cubic-bezier(0, 0, 0.58, 1);
}

header > nav > div:not(.container) {
  width: 100%;
}

header > nav a.logo {
  line-height: 3rem;
  height: 3rem;
  width: 15rem;
  background-image: url("../images/secretarium_title.png");
  background-repeat: no-repeat;
  background-size: auto 3rem;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}

@media screen and (max-width: 1080px) {
  header > nav a.logo {
    width: 4rem;
  }
}

header > nav.fixed-top {
  overflow: hidden;
  opacity: 1;
}

header > nav.fixed-top:not(.logo-page) {
  background-color: #f5f5f5;
}

header > nav.fixed-top #presentation-menu a {
  font-family: Grotesk, sans-serif;
  font-size: 1.1rem;
  position: relative;
  display: inline-block;
  padding: 0 .5rem;
  text-align: center;
  letter-spacing: 1px;
  text-transform: lowercase;
  color: #000000;
  white-space: nowrap;
}

header > nav.fixed-top #presentation-menu ul a:after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0.5rem;
  height: 2px;
  content: '';
  width: calc(100% - 1rem);
  -webkit-transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
  opacity: 0;
  background: currentcolor;
}

header > nav.fixed-top #presentation-menu ul li.active a:after, header > nav.fixed-top #presentation-menu ul li:hover a:after {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  opacity: 0.1;
}

header > nav.fixed-top #presentation-sub-menu li.active {
  font-weight: bold;
}

header > nav.fixed-top #presentation-sub-menu li:hover a {
  color: #eb2540;
}

header > nav.logo-page {
  text-align: right;
}

header > nav.logo-page a.logo {
  display: none;
}

header > nav.logo-page ul#presentation-menu {
  opacity: 0;
}

header > nav.logo-page ul#menu li.show > div {
  display: inline-block;
}

body:not(.fp-viewing-what-it-is):not(.fp-viewing-what-it-does):not(.fp-viewing-scaling) #presentation-sub-menu #sub-what {
  display: none !important;
}

body:not(.fp-viewing-technology):not(.fp-viewing-secret-processing):not(.fp-viewing-secret-mixing) #presentation-sub-menu #sub-how {
  display: none !important;
}
