@font-face {
  font-family: "Grotesk";
  src: url("../webfonts/TypoGroteskRegular.eot");
  /* IE9 Compat Modes */
  src: url("../webfonts/TypoGroteskRegular.eot?#iefix") format("embedded-opentype"), url("../webfonts/TypoGroteskRegular.otf") format("opentype"), url("../webfonts/TypoGroteskRegular.svg") format("svg"), url("../webfonts/TypoGroteskRegular.ttf") format("truetype"), url("../webfonts/TypoGroteskRegular.woff") format("woff"), url("../webfonts/TypoGroteskRegular.woff2") format("woff2");
  /* Modern Browsers */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Grotesk";
  src: url("../webfonts/TypoGroteskBold.eot");
  /* IE9 Compat Modes */
  src: url("../webfonts/TypoGroteskBold.eot?#iefix") format("embedded-opentype"), url("../webfonts/TypoGroteskBold.otf") format("opentype"), url("../webfonts/TypoGroteskBold.svg") format("svg"), url("../webfonts/TypoGroteskBold.ttf") format("truetype"), url("../webfonts/TypoGroteskBold.woff") format("woff"), url("../webfonts/TypoGroteskBold.woff2") format("woff2");
  /* Modern Browsers */
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato';
  src: url("../webfonts/Lato-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../webfonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../webfonts/Lato-Regular.woff2") format("woff2"), url("../webfonts/Lato-Regular.woff") format("woff"), url("../webfonts/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato';
  src: url("../webfonts/Lato-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../webfonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../webfonts/Lato-Bold.woff2") format("woff2"), url("../webfonts/Lato-Bold.woff") format("woff"), url("../webfonts/Lato-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

footer {
  background-color: #003399;
}

footer h5 {
  font-size: 1.1rem;
  color: #ffffff;
}

footer li a {
  font-size: 1rem;
  color: #ffffff;
}

footer li a:hover {
  font-size: 1rem;
  color: #919cb1;
}

footer p, footer footer p a {
  font-size: 0.8rem;
  color: #718cbd;
}

footer p a:hover {
  color: #ffffff;
}

[v-cloak] {
  display: none;
}

@media screen and (max-height: 720px) {
  html {
    font-size: 12px;
  }
}

div#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

content {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

footer.bg-light {
  margin: auto auto 0 auto;
  width: 100%;
  line-height: 30px;
  border-top: 1px solid #ddd;
}

footer.bg-light footer span {
  display: inline-block;
}

footer.bg-light footer span::first-letter {
  text-transform: uppercase;
}

a {
  color: #444;
}

a:active, a:focus, a:hover {
  text-decoration: none !important;
  outline: none !important;
  color: inherit;
}

#app {
  opacity: 0;
}

#stage-full-logo, #stage-logo {
  opacity: 0;
  display: none;
}

#stage {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

#stage img {
  position: absolute;
  opacity: 0;
  height: 8vh;
  -webkit-transition: opacity 1000ms ease-in-out 0ms;
  transition: opacity 1000ms ease-in-out 0ms;
}

#stage img.active {
  opacity: 1;
}

#stage img.full-logo {
  -webkit-transition: opacity 2000ms ease-in-out 0ms;
  transition: opacity 2000ms ease-in-out 0ms;
}

#stage img.stage-logo {
  -webkit-transition: opacity 800ms ease-in-out 0ms;
  transition: opacity 800ms ease-in-out 0ms;
}

#stage img.stage-logo.active {
  -webkit-transition: opacity 3000ms ease-in-out 700ms;
  transition: opacity 3000ms ease-in-out 700ms;
}

#stage img.stage-logo.stage-0 {
  -webkit-transition: opacity 500ms ease-in-out 0ms;
  transition: opacity 500ms ease-in-out 0ms;
}

#stage img.stage-logo.stage-0.active {
  -webkit-transition: opacity 1500ms ease-in-out 700ms;
  transition: opacity 1500ms ease-in-out 700ms;
}

#stage img.stage-logo.stage-1 {
  -webkit-transition: opacity 520ms ease-in-out 0ms;
  transition: opacity 520ms ease-in-out 0ms;
}

#stage img.stage-logo.stage-1.active {
  -webkit-transition: opacity 1600ms ease-in-out 700ms;
  transition: opacity 1600ms ease-in-out 700ms;
}

#stage img.stage-logo.stage-2 {
  -webkit-transition: opacity 540ms ease-in-out 0ms;
  transition: opacity 540ms ease-in-out 0ms;
}

#stage img.stage-logo.stage-2.active {
  -webkit-transition: opacity 1700ms ease-in-out 700ms;
  transition: opacity 1700ms ease-in-out 700ms;
}

#stage img.stage-logo.stage-3 {
  -webkit-transition: opacity 560ms ease-in-out 0ms;
  transition: opacity 560ms ease-in-out 0ms;
}

#stage img.stage-logo.stage-3.active {
  -webkit-transition: opacity 1800ms ease-in-out 700ms;
  transition: opacity 1800ms ease-in-out 700ms;
}

#stage img.stage-logo.stage-4 {
  -webkit-transition: opacity 580ms ease-in-out 0ms;
  transition: opacity 580ms ease-in-out 0ms;
}

#stage img.stage-logo.stage-4.active {
  -webkit-transition: opacity 1900ms ease-in-out 700ms;
  transition: opacity 1900ms ease-in-out 700ms;
}

#stage img.stage-logo.stage-5 {
  -webkit-transition: opacity 600ms ease-in-out 0ms;
  transition: opacity 600ms ease-in-out 0ms;
}

#stage img.stage-logo.stage-5.active {
  -webkit-transition: opacity 2000ms ease-in-out 700ms;
  transition: opacity 2000ms ease-in-out 700ms;
}

#stage img.stage-logo.stage-6 {
  -webkit-transition: opacity 620ms ease-in-out 0ms;
  transition: opacity 620ms ease-in-out 0ms;
}

#stage img.stage-logo.stage-6.active {
  -webkit-transition: opacity 2100ms ease-in-out 700ms;
  transition: opacity 2100ms ease-in-out 700ms;
}

#stage img.stage-logo.stage-7 {
  -webkit-transition: opacity 640ms ease-in-out 0ms;
  transition: opacity 640ms ease-in-out 0ms;
}

#stage img.stage-logo.stage-7.active {
  -webkit-transition: opacity 2200ms ease-in-out 700ms;
  transition: opacity 2200ms ease-in-out 700ms;
}

#stage img.stage-logo.stage-8 {
  -webkit-transition: opacity 660ms ease-in-out 0ms;
  transition: opacity 660ms ease-in-out 0ms;
}

#stage img.stage-logo.stage-8.active {
  -webkit-transition: opacity 2300ms ease-in-out 700ms;
  transition: opacity 2300ms ease-in-out 700ms;
}

#stage img.stage-logo.stage-9 {
  -webkit-transition: opacity 680ms ease-in-out 0ms;
  transition: opacity 680ms ease-in-out 0ms;
}

#stage img.stage-logo.stage-9.active {
  -webkit-transition: opacity 2400ms ease-in-out 700ms;
  transition: opacity 2400ms ease-in-out 700ms;
}

#stage img.stage-logo.stage-10 {
  -webkit-transition: opacity 700ms ease-in-out 0ms;
  transition: opacity 700ms ease-in-out 0ms;
}

#stage img.stage-logo.stage-10.active {
  -webkit-transition: opacity 2500ms ease-in-out 700ms;
  transition: opacity 2500ms ease-in-out 700ms;
}

#stage img.stage-logo.stage-11 {
  -webkit-transition: opacity 720ms ease-in-out 0ms;
  transition: opacity 720ms ease-in-out 0ms;
}

#stage img.stage-logo.stage-11.active {
  -webkit-transition: opacity 2600ms ease-in-out 700ms;
  transition: opacity 2600ms ease-in-out 700ms;
}

#stage img.stage-logo.stage-12 {
  -webkit-transition: opacity 740ms ease-in-out 0ms;
  transition: opacity 740ms ease-in-out 0ms;
}

#stage img.stage-logo.stage-12.active {
  -webkit-transition: opacity 2700ms ease-in-out 700ms;
  transition: opacity 2700ms ease-in-out 700ms;
}

#stage img.stage-logo.stage-13 {
  -webkit-transition: opacity 760ms ease-in-out 0ms;
  transition: opacity 760ms ease-in-out 0ms;
}

#stage img.stage-logo.stage-13.active {
  -webkit-transition: opacity 2800ms ease-in-out 700ms;
  transition: opacity 2800ms ease-in-out 700ms;
}

#stage img.stage-logo.stage-14 {
  -webkit-transition: opacity 780ms ease-in-out 0ms;
  transition: opacity 780ms ease-in-out 0ms;
}

#stage img.stage-logo.stage-14.active {
  -webkit-transition: opacity 2900ms ease-in-out 700ms;
  transition: opacity 2900ms ease-in-out 700ms;
}

#stage img.stage-logo.stage-15 {
  -webkit-transition: opacity 800ms ease-in-out 0ms;
  transition: opacity 800ms ease-in-out 0ms;
}

#stage img.stage-logo.stage-15.active {
  -webkit-transition: opacity 3000ms ease-in-out 700ms;
  transition: opacity 3000ms ease-in-out 700ms;
}

body:not(.page-presentation) > #stage {
  display: none;
}

.page-enter-active, .page-leave-active {
  -webkit-transition: opacity .2s, -webkit-transform .2s;
  transition: opacity .2s, -webkit-transform .2s;
  transition: opacity .2s, transform .2s;
  transition: opacity .2s, transform .2s, -webkit-transform .2s;
}

.page-enter, .page-leave-to {
  opacity: 0;
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
}

.btn-icon-enter-active, .btn-icon-leave-active {
  -webkit-transition: opacity .8s;
  transition: opacity .8s;
}

.btn-icon-enter, .btn-icon-leave-to {
  opacity: 0;
}
