@import url(typogrotesk.css?plop);
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,600,700");

html {
	font-size: 	1.5vh;
}
h1, h2, h3, h4, h5, h6, a, p {
	-webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}

h1 {
    font-size: 10rem;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
}
h2 {
    font-size: 3rem;
    font-weight: bold;
    font-family: Grotesk, sans-serif;
}
h3 {
    font-size: 1.5rem;
    font-family: Grotesk, sans-serif;
    letter-spacing: 0.1em;
    color: #aaaaaa;
}
h4 {
    font-size: 1.3rem;
    margin-bottom: .5rem;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    color: #333333;
    font-weight: bold;
}
h5 {
    font-size: 1.6rem;
}
h6 {
    font-size: 1.5rem;
}

a {
	color: #444;
}
a:active, a:focus, a:hover {
    text-decoration: none !important;
	outline: none !important;
	color: inherit;
}
p {
    font-family: Lato, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
    color: #999999;
    text-align: justify;
}

header {
	position: fixed;
	height: 5rem;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: #f5f5f5;
	-webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0.58, 1);
	transition: background-color 0.3s cubic-bezier(0, 0, 0.58, 1);
	overflow: hidden;
}
body.fp-viewing-0 header {
	background-color: #fff;
}
header .on-right {
	text-align: right;
}
header a {
    font-family: Grotesk, sans-serif;
    font-size: 1.5rem;
    position: relative;
    display: inline-block;
    width: auto;
    padding: 0 .5rem;
    text-align: center;
    letter-spacing: 1px;
    text-transform: lowercase;
    color: #000000;
	-webkit-backface-visibility: hidden;
	line-height:5rem;
}
header .on-left a:after {
    position: absolute;
    right: 0;
    bottom: 1rem;
    left: 0.5rem;
    height: 2px;
	content: '';
	width: calc(100% - 1rem);
    -webkit-transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
    opacity: 0;
    background: currentcolor;
}
header li {
	display: inline-block;
}
header .on-left li:hover a:after {
    -webkit-transform: translateY(-0.5rem);
    transform: translateY(-0.5rem);
    opacity: 1;
}
header .on-right li:hover a {
	color: #eb2540;
}
header li.logo {
	line-height: 3rem;
	background-image: url('../images/secretarium_title.png');
	background-repeat: no-repeat;
	background-size: auto 3rem;
	width: 15rem;
	margin-right: 0.8rem;
	-webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}
body.fp-viewing-0 li.logo {
	width: 0;
	margin-right: 0;
}

#stage {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.fp-section {
	background-color: #FFFFFF;
}

.container-fluid .col-left {
	padding-left: 0;
}
.container-fluid .col-right {
	padding-right: 0;
}

.sec-img {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: bottom;
    margin-top: 50px;
    margin-bottom: 50px;
}
.sec-img.recess {
    margin-top: 0px;
}
.sec-img.tall {
    height: calc(60vh - 200px);
}
.sec-img.fencedNetwork {
    background-image: url('../images/figure_fencedNetwork.svg');
}
.sec-img.dcApp {
    background-image: url('../images/figure_dcApp.svg');
}
.sec-img.shield {
    background-image: url('../images/figure_shield.svg');
}
.sec-img.puzzle {
    background-image: url('../images/figure_puzzle.svg');
}
.sec-img.restore {
    background-image: url('../images/figure_restore.svg');
}
.sec-img.reaper {
    background-image: url('../images/figure_reaper.svg');
}
.sec-img.secretProcessing {
    background-image: url('../images/figure_secretProcessing.svg');
}
.sec-img.secretMixing {
    background-image: url('../images/figure_secretMixing.svg');
}
.sec-img.scale {
    background-image: url('../images/figure_scale.svg');
}
.sec-img.map {
    background-image: url('../images/figure_map.svg');
}
.sec-img.technology {
    background-image: url('../images/figure_technology.svg');
}
.stage-fulllogo, .stage-logo {
	/* position: fixed; */
	display: none;
	/* opacity: 0; */
	/* -webkit-transition: all 5s ease-in;
    transition: all 5s ease-in; */
}
/* .stage-fulllogo.reveal, .stage-logo.reveal {
	opacity: 1;
} */
/* .stage-fulllogo.source, .stage-logo.source {
	display: none;
} */

@media screen and (max-width: 1080px), screen and (max-height: 720px) {
	html {
		font-size: 1.vh;
	}
	
	header li.logo {
		width: 4rem;
	}
}