@font-face {
  font-family: "Grotesk";
  src: url("../webfonts/TypoGroteskRegular.eot");
  /* IE9 Compat Modes */
  src: url("../webfonts/TypoGroteskRegular.eot?#iefix") format("embedded-opentype"), url("../webfonts/TypoGroteskRegular.otf") format("opentype"), url("../webfonts/TypoGroteskRegular.svg") format("svg"), url("../webfonts/TypoGroteskRegular.ttf") format("truetype"), url("../webfonts/TypoGroteskRegular.woff") format("woff"), url("../webfonts/TypoGroteskRegular.woff2") format("woff2");
  /* Modern Browsers */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Grotesk";
  src: url("../webfonts/TypoGroteskBold.eot");
  /* IE9 Compat Modes */
  src: url("../webfonts/TypoGroteskBold.eot?#iefix") format("embedded-opentype"), url("../webfonts/TypoGroteskBold.otf") format("opentype"), url("../webfonts/TypoGroteskBold.svg") format("svg"), url("../webfonts/TypoGroteskBold.ttf") format("truetype"), url("../webfonts/TypoGroteskBold.woff") format("woff"), url("../webfonts/TypoGroteskBold.woff2") format("woff2");
  /* Modern Browsers */
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato';
  src: url("../webfonts/Lato-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../webfonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../webfonts/Lato-Regular.woff2") format("woff2"), url("../webfonts/Lato-Regular.woff") format("woff"), url("../webfonts/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato';
  src: url("../webfonts/Lato-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../webfonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../webfonts/Lato-Bold.woff2") format("woff2"), url("../webfonts/Lato-Bold.woff") format("woff"), url("../webfonts/Lato-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

.sec-nav-home-wrap {
  width: 100%;
}

html {
  font-size: 1.5vh;
  overflow-x: hidden !important;
}

h1, h2, h3, h4, h5, h6, a, p {
  -webkit-transition: color 0.3s cubic-bezier(0, 0, 0.58, 1), padding 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: color 0.3s cubic-bezier(0, 0, 0.58, 1), padding 0.3s cubic-bezier(0, 0, 0.58, 1);
}

h1 {
  font-size: 10rem;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: Grotesk, sans-serif;
}

h3 {
  font-size: 1.5rem;
  font-family: Grotesk, sans-serif;
  letter-spacing: 0.1em;
  color: #aaaaaa;
  margin-bottom: 2em;
}

h4 {
  font-size: 1.3rem;
  margin-bottom: .5rem;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  color: #333333;
  font-weight: bold;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.5rem;
}

a {
  color: #444;
}

a:active, a:focus, a:hover {
  text-decoration: none !important;
  outline: none !important;
  color: inherit;
}

p {
  font-family: Lato, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  color: #999999;
  text-align: justify;
}

header {
  position: fixed;
  height: 5rem;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #f5f5f5;
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: background-color 0.3s cubic-bezier(0, 0, 0.58, 1);
  overflow: hidden;
}

body.fp-viewing-home header {
  background-color: #fff;
}

header .on-right {
  text-align: right;
}

header a {
  font-family: Grotesk, sans-serif;
  font-size: 1.1rem;
  position: relative;
  display: inline-block;
  width: auto;
  padding: 0 .5rem;
  text-align: center;
  letter-spacing: 1px;
  text-transform: lowercase;
  color: #000000;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  line-height: 5rem;
}

header .on-left a:after {
  position: absolute;
  right: 0;
  bottom: 1rem;
  left: 0.5rem;
  height: 2px;
  content: '';
  width: calc(100% - 1rem);
  -webkit-transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(0rem);
  transform: translateY(0rem);
  opacity: 0;
  background: currentcolor;
}

header .on-left li[data-menuanchor="why"] a:after {
  width: calc(100% - 2.2rem);
}

header .on-left li[data-menuanchor="technology"] a:after {
  width: calc(100% - 3.5rem);
}

header li {
  display: inline-block;
}

header .on-left li.active a:after, header .on-left li:hover a:after,
body.fp-viewing-what-it-does header li[data-menuanchor="what-it-is"] a:after,
body.fp-viewing-scaling header li[data-menuanchor="what-it-is"] a:after,
body.fp-viewing-secret-processing header li[data-menuanchor="technology"] a:after,
body.fp-viewing-secret-mixing header li[data-menuanchor="technology"] a:after {
  -webkit-transform: translateY(-0.5rem);
  transform: translateY(-0.5rem);
  opacity: 0.1;
}

header .on-right li:hover a {
  color: #eb2540;
}

header li.logo {
  line-height: 3rem;
  background-image: url("../images/secretarium_title.png");
  background-repeat: no-repeat;
  background-size: auto 3rem;
  width: 15rem;
  margin-right: 0.8rem;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}

header li.logo a {
  width: 100%;
  height: 1.5rem;
}

header .on-left li:hover.logo a:after, header .on-left li.logo.active a:after {
  opacity: 0;
}

body.fp-viewing-home li.logo {
  width: 0;
  margin-right: 0;
}

#submenu {
  position: fixed;
  width: 100%;
  background-color: #eee;
  z-index: 99;
  padding-top: 5rem;
  height: 5rem;
  -webkit-transition: height 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: height 0.3s cubic-bezier(0, 0, 0.58, 1);
  overflow: hidden;
}

body.fp-viewing-what-it-is #submenu,
body.fp-viewing-what-it-does #submenu,
body.fp-viewing-scaling #submenu,
body.fp-viewing-technology #submenu,
body.fp-viewing-secret-processing #submenu,
body.fp-viewing-secret-mixing #submenu {
  height: 7.5rem;
}

#submenu li {
  display: inline-block;
  line-height: 2.5rem;
  padding-left: 1.5rem;
}

#submenu li:hover a {
  color: #eb2540;
}

#submenu div[id^="sub-"] {
  display: none;
}

body.fp-viewing-what-it-is #submenu #sub-what,
body.fp-viewing-what-it-does #submenu #sub-what,
body.fp-viewing-scaling #submenu #sub-what {
  display: block;
}

body.fp-viewing-technology #submenu #sub-how,
body.fp-viewing-secret-processing #submenu #sub-how,
body.fp-viewing-secret-mixing #submenu #sub-how {
  display: block;
}

body.fp-viewing-what-it-is #submenu li[data-menuanchor="what-it-is"],
body.fp-viewing-what-it-does #submenu li[data-menuanchor="what-it-does"],
body.fp-viewing-scaling #submenu li[data-menuanchor="scaling"],
body.fp-viewing-technology #submenu li[data-menuanchor="technology"],
body.fp-viewing-secret-processing #submenu li[data-menuanchor="secret-processing"],
body.fp-viewing-secret-mixing #submenu li[data-menuanchor="secret-mixing"] {
  font-weight: bold;
}

#stage {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.fp-section {
  background-color: #FFFFFF;
}

.container-fluid .col-left {
  padding-left: 0;
}

.container-fluid .col-right {
  padding-right: 0;
}

.sec-img {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: bottom;
  margin-top: 50px;
  margin-bottom: 50px;
}

.sec-img.recess {
  margin-top: -75px;
}

.sec-img.tall {
  height: calc(60vh - 200px);
}

.sec-img.fencedNetwork {
  background-image: url("../images/figure_fencedNetwork.svg");
}

.sec-img.dcApp {
  background-image: url("../images/figure_dcApp.svg");
}

.sec-img.shield {
  background-image: url("../images/figure_shield.svg");
}

.sec-img.puzzle {
  background-image: url("../images/figure_puzzle.svg");
}

.sec-img.restore {
  background-image: url("../images/figure_restore.svg");
}

.sec-img.reaper {
  background-image: url("../images/figure_reaper.svg");
}

.sec-img.secretProcessing {
  background-image: url("../images/figure_secretProcessing.svg");
}

.sec-img.secretMixing {
  background-image: url("../images/figure_secretMixing.svg");
}

.sec-img.scale {
  background-image: url("../images/figure_scale.svg");
}

.sec-img.map {
  background-image: url("../images/figure_map.svg");
}

.sec-img.technology {
  background-image: url("../images/figure_technology.svg");
}

#stage-fulllogo, #stage-logo {
  display: none;
}

.fp-tableCell {
  padding-top: 5rem;
}

img.team-member {
  width: 10rem;
  height: 10rem;
  display: inline-block;
  background-color: #cccccc;
  margin-bottom: 2rem;
}

h4.team-member-name {
  margin: 0;
}

span.team-member-position {
  color: #eb2540;
}

footer {
  background-color: #003399;
}

footer h5 {
  font-size: 1.1rem;
  color: #ffffff;
}

footer li a {
  font-size: 1rem;
  color: #ffffff;
}

footer li a:hover {
  font-size: 1rem;
  color: #919cb1;
}

footer p, footer p a {
  font-size: 0.8rem;
  color: #718cbd;
}

footer p a:hover {
  color: #ffffff;
}

@media screen and (max-width: 1080px), screen and (max-height: 720px) {
  /* html {
		font-size: 120%;
	} */
  header li.logo {
    width: 4rem;
  }
}
