.form-holder {
    margin: auto;
    padding: 170px 0 0;
}

.form-holder h5 {
    color: #999;
    font-size: 0.9rem;
}

.form-holder .card {
    width: 400px;
}

.key-item, .endpoint-item {
    padding-bottom: 0.5rem;
}

.key-item i, .endpoint-item i {
    padding-right: 1rem;
}