@font-face {
    font-family: "Grotesk";
    src: url("../webfonts/TypoGroteskRegular.eot"); /* IE9 Compat Modes */
    src: url("../webfonts/TypoGroteskRegular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../webfonts/TypoGroteskRegular.otf") format("opentype"), /* Open Type Font */
         url("../webfonts/TypoGroteskRegular.svg") format("svg"), /* Legacy iOS */
         url("../webfonts/TypoGroteskRegular.ttf") format("truetype"), /* Safari, Android, iOS */
         url("../webfonts/TypoGroteskRegular.woff") format("woff"), /* Modern Browsers */
         url("../webfonts/TypoGroteskRegular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Grotesk";
    src: url("../webfonts/TypoGroteskBold.eot"); /* IE9 Compat Modes */
    src: url("../webfonts/TypoGroteskBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../webfonts/TypoGroteskBold.otf") format("opentype"), /* Open Type Font */
         url("../webfonts/TypoGroteskBold.svg") format("svg"), /* Legacy iOS */
         url("../webfonts/TypoGroteskBold.ttf") format("truetype"), /* Safari, Android, iOS */
         url("../webfonts/TypoGroteskBold.woff") format("woff"), /* Modern Browsers */
         url("../webfonts/TypoGroteskBold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: bold;
    font-style: normal;
}