.secImgContainer {
    width: 100%;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.secImgFixedHeight {
    height: 15rem;
}

.secImgTechStack {
    height: 25rem;
}

.companyLogo {
    height: 3rem;
}

.secImgContainer img, .companyLogo img {
    height: 100%;
    width: auto;
}